header {
  display: flex;             
  align-items: center;        
  background-color: #2C3E50;    
  padding: 20px;
}
header h3 {
  color: #e4e8e9;           
  font-size: 0.9em;         
  margin: 0;
  padding: 0;                
}

header img {    
  align-items: left;           
  border-radius: 50%;        
  margin-right: 20px;
  margin-right: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border: 3px solid black;        
}

header img:hover {  
  transform: scale(1.05);    
  transition: transform 0.3s ease;

}

header section.info {
  text-align: left;      
  color: #e4e8e9;           
  font-size: 0.9,5em;          
  margin: 0;
  padding: 0;                
}
header section.info a {
  margin: 0;                  
  font-size: 0.95em; 
  color: white;      
 
}
nav .a{  
  background-color: #2C3E50;  
  padding: 5px;
  text-align: right;          
}

nav .btn {
  background-color: #2980b9;  
  color: white;               
  border: none;               
  padding: 10px 15px;        
  margin-right: 10px;          
  cursor: pointer;           
  font-size: 1em; 
  border-radius: 5px;    
  text-align: right;  
  position: relative;
  top: -15px;     
}

body {
  background-color: #ECF0F1;   
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color:#2C3E50
}

.btn:hover {  
  background-color: #2980b9;   
}

.contenedor_info {  
  display: flex;                
  justify-content: space-between; 
  gap: 20px;
  padding: 20px;
                 
}
.item {
  flex: 1 1 300px;
}


.columna1, .columna2, .columna3 {                   
  flex: 1;    
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;   
} 
/*titulos principales*/
h2 {
  border-bottom: 3px solid #2980b9;
  padding-bottom: 5px; 
  margin-bottom: 0;
  color:#2980b9;
}

/*subtitulos*/
.contenedor_info h3 {
  color: rgb(113, 109, 109);
  margin-top: 15px;
}

/*/listas*/
ul {
  list-style-type: square; 
  padding-left: 20px; 
  color: #2C3E50;
}

li {
  margin-bottom: 8px; 
} 

.foto_ingles {
  display: block;
  margin: 20px auto; 
  border-radius: 8px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
  transition: transform 0.3s ease;
}
.foto_ingles:hover {
  transform: scale(1.3);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.4);
}


@media (max-width: 768px) {
  .contenedor_info {
    flex-direction: column;
  }
}


@media (max-width: 768px) {
  .nav-links {
    display: none; 
    flex-direction: column;
    background: #444;
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 10px;
  }

  .nav-links.show {
    display: flex; 
  }

  .menu-toggle {
    display: block; 
  }
}

